#wrapper{
    background-color: burlywood;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

button{
    width: 10rem;
    margin: 0 auto;
}

input{
    width: 30rem;
    margin: 0.1rem auto;
    text-align: center;
}

select{
    width: 30rem;
    margin: 0.1rem auto;
    text-align: center;
}

label{
    margin: 0.2rem auto;
}

.top-part{
    border-bottom: 0.3rem solid black;
}